@charset "utf-8";
.page .headcon{
    background: #f26b11;
}
.headcon .logo,
.headcon .login{
    font-size: .3rem;
    color: #fff;
}
.page .headcon .arrow a img {
    width: .17rem;
    height: .29rem;
    margin-top: .1rem;
}
.page .con {
    margin-top: 1.8rem;
    margin-left: 1rem;
}
.con ul>li{
    width: 5.5rem;
    height: .4rem;
    border-bottom: 1px solid black;
    font-size: .2rem;
    color: black;
    margin-top: .8rem;
    margin-bottom: .4rem;
}

.con .next{
    width: 5.5rem;
    height: .8rem;
    display: inline-block;
    border-radius: .1rem;
    background: #f26b11;
    text-align: center;
    font-size: .4rem;
    line-height: .8rem;
    color: #fff;
}
.con .pwd{
    display: block;
    margin-bottom: .4rem;
    margin-left: 4.4rem;
    color: #333333;
}
